* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', 'Poppins', 'Noto Sans KR', sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #070C0A;
  color: #E7F2EF;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.65;
  max-width: 1920px;
  margin: 0 auto;
}

.navbar {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  padding: 14px 200px 10px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.15);
  z-index: 1;
}

.navbar ul {
  display: flex;
  align-items: center;
  gap: 75px;
}

.navbar ul li {
  list-style: none;
}

.navbar ul li a {
  text-decoration: none;
  color: #E7F2EF;
  font-size: 16px;
  transition: 0.2s;
}

.navbar ul li a:hover {
  opacity: 0.6;
}

.navbar-logo a {
  text-decoration: none;
  color: #E7F2EF;
  font-size: 21px;
  font-weight: 800;
}

/* main */

main {
  width: 78.5%;
  margin: 0 auto;
  margin-top: 145px;
}

.page-background {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-size: 40px 40px;
  background-image:
    linear-gradient(to right, rgba(206, 206, 206, 0.030) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(206, 206, 206, 0.030) 1px, transparent 1px);
}

.introduction {
  display: flex;
  justify-content: space-between;
}

.intro h1 {
  font-size: 55px;
  line-height: 125%;
  margin-bottom: 20px;
}

.visual-span {
  background: linear-gradient(to right, #E7F2EF, #e6fdf7,#A8D0C1, #aeebd4);
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  background-clip: none;
}

.invi-span {
  font-style: italic;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #E7F2EF;
  color: transparent;
}

.intro p {
  line-height: 2;
}

.intro1 {
  display: flex;
  flex-direction: column;
  max-width: 65ch;
  gap: 20px;
}

.intro1 p {
  line-height: 2;
}

.minki-button button {
  padding: 13px 32px;
  color: #070C0A;
  background-color: #A8D0C1;
  border: none;
  border-radius: 5px;
  transition: 0.2s;
  cursor: pointer;
}

.minki-button button:hover {
  box-shadow: 0px 0px 40px #a8d0c17e;
  transform: translateY(-3px);
}

/* featured */

.featured-section {
  padding-top: 75px;
}

.dashed-text {
  display: flex;
  align-items: center;
  font-size: 22px;
  font-weight: 800;
  margin-bottom: 20px;
  gap: 20px;

  > hr {
    flex: 1;
    border: 1px solid rgba(255, 255, 255, 0.15);
  }
}

.featured-photos {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.featured-photos img {
  width: 400px;
  height: 400px;
  object-fit: cover;
}

.scroll-down {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 25px 0px;
}

/* mamsh paimbita */

.mp-section {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding-top: 100px;
}

.mp-title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mp-container {
  display: flex;
  align-items: stretch;
  gap: 40px;
}

.mp {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: auto;
  height: auto;
  border-radius: 10px;
  padding: 40px;
  background-color: #5136651a;
  flex: 1;
}

.mp i {
  font-size: 50px;
  text-align: center;
}

.mp h2 {
  text-align: center;
  margin-top: 20px;
}

.mp p {
  line-height: 2;
  margin-top: 20px;
}


/* service */

.service-section {
  padding-top: 150px;
}

.service-container {
  display: flex;
  gap: 40px;
}

.service {
  display: flex;
  flex-direction: column;
  position: relative;
}

.service h2 {
  margin-bottom: 10px;
}

.service p {
  margin-bottom: 20px;
  line-height: 2;
}

.explore {
  margin-top: auto;
}

.explore a {
  color: #A8D0C1;
  margin-top: auto;
}

.service::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: transparent;
  border-radius: 5px;
  transition: transform 0.2s, background-color 0.2s;
  z-index: -1;
}

.service:hover::before {
  transform: scale(1.07);
  background-color: rgba(154, 197, 181, 0.562);
}

/* frequently asked questions */

.faq-header {
  padding-top: 150px;
}

.faq {
  width: auto;
  transition: 0.2s;
  border-radius: 10px;
}

.faq-parent {
  display: flex;
  flex-wrap: wrap;
  gap: 25px;
}

.faqs-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  flex: 1;
}

.faq li {
  list-style: none;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  background-color: #5136651a;
}

.faq li label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
}

label::after {
  content: '+';
  margin-right: 10px;
  font-size: 25px;
  font-weight: 300;
}

input[type="checkbox"] {
  display: none;
}

.faq .content {
  color: #E7F2EF;
  padding: 0 10px;
  line-height: 2;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.5s, padding 0.5s;
}

.faq input[type="checkbox"]:checked + label + .content {
  max-height: 400px;
  padding: 10px 10px 20px;
}

.faq input[type="checkbox"]:checked + label::after {
  content: '-';
}

.faq:hover {
  box-shadow: 0px 0px 40px #a8d0c17e;
}

/* footer */

footer {
  padding-top: 150px;
  padding-bottom: 100px;
  width: 78.5%;
  margin: 0 auto;
}

.mp-footer {
  display: flex;
  align-items: flex-start;
  gap: 250px;
}

.mp-footer-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 20px;
}

.mp-footer ul li {
  list-style: none;
}

.mp-footer-title h2 {
  font-size: 30px;
  line-height: 120%;
}

.mp-footer-title ul {
  display: flex;
  align-items: center;
  gap: 20px;
}

.mp-footer-title ul li a {
  font-size: 25px;
  color: #E7F2EF;
  text-decoration: none;
}

.mp-footer-title ul li a i {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #5136651a;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  transition: 0.2s;
}

.mp-links-container {
  display: flex;
  align-items: center;
  gap: 50px;
  flex: 1;
}

.mp-links {
  background-color: #5136651a;
  padding: 30px;
  border-radius: 20px;
  width: auto;
  height: auto;
  flex: 1;
}

.mp-links ul li a {
  text-decoration: none;
  color: #E7F2EF;
  transition: 0.2s;
  line-height: 2;
  white-space: nowrap;
}

.mp-links ul li a:hover {
  opacity: 0.6;
}

.mp-footer-title ul li a i:hover {
  box-shadow: 0px 0px 40px #a8d0c17e;
}

/* styles */

.horizontal {
  margin-top: 20px;
  margin-bottom: 25px;
}

.highlight {
  background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-1&color=a8d0c181);
  margin: -2px -6px;
  padding:  2px  6px;
}